<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="XmuNetRules" Description="Xmu dotnet rule set for code anaylisis." ToolsVersion="10.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1009" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1111" Action="None" />
    <Rule Id="SA1123" Action="None" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1133" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1310" Action="None" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Usage" RuleNamespace="Microsoft.Usage">
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1307" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1801" Action="None" />
    <Rule Id="CA1812" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA2007" Action="None" />
    <Rule Id="CA2235" Action="None" />
    <Rule Id="CA2234" Action="None" />
    <Rule Id="CA2227" Action="None" />
  </Rules>
</RuleSet>